{% extends 'base.html' %}

{% block head %}
<Style>

input, label {
    display:block;
}

</Style>

{% endblock head %}




{% block body %}
  <h2>{{html_vars.add_agent}}</h2>
  <form method="post">
    <table>
      <tr>
        
        <td>
          {{ form.username.label_tag }} 
          {{ form.username }}
          
        </td>

        <td>
          {{ form.first_name.label_tag }}
          {{ form.first_name }}
        </td>

        <td>
          {{ form.last_name.label_tag }}
          {{ form.last_name }}
        </td>

      </tr>
      <tr>

        <td>
          {{ form.birth_date.label_tag }} 
          {{ form.birth_date }}
          
        </td>

        <td>
          {{ form.number.label_tag }}
          {{ form.number }}
        </td>

        <td>
          {{ form.password1.label_tag }}
          {{ form.password1 }}
        </td>
        
      </tr>
      <tr>
        
        <td>
          {{ form.password2.label_tag }}
          {{ form.password2 }}    
        </td>
      
      </tr>
    </table>

    {% csrf_token %}

<!--
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    
    {% endfor %} -->
    <button type="submit">{{html_vars.add_agaent_button}}</button>
  </form>

{% endblock body%}